/* Footer Section Styles */

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 50px;
    text-align: center;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-nav ul li:last-child {
    margin-right: 0;
  }
  
  .footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-nav ul li a:hover {
    color: #007bff;
  }
  
  .copyright {
    margin-top: 20px;
  }
  
  .back-to-top-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for background-color and transform */
  }
  
  .back-to-top-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Scale up the button on hover */
  }
  